div{
    background-color: rgb(159, 246, 73);
    padding: 10px;
    margin-bottom: 10px;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(66, 4, 4);
    padding: 5px;
}